BODY {
	FONT-SIZE: 10px; 
	FONT-FAMILY: verdana, arial, helvetica, sans-serif; 
	SCROLLBAR-DARKSHADOW-COLOR: #000000; 
	SCROLLBAR-ARROW-COLOR: #704946; 
	SCROLLBAR-BASE-COLOR: #EADACD; 
	BACKGROUND-COLOR: #E0D7CF
}
A:link {
	FONT-SIZE: 10px; COLOR: #7D431B; FONT-FAMILY: verdana, arial, helvetica, sans-serif; TEXT-DECORATION: none
}
A:visited {
	FONT-SIZE: 10px; COLOR: #7D431B; FONT-FAMILY: verdana, arial, helvetica, sans-serif; TEXT-DECORATION: none
}
A:active {
	FONT-SIZE: 10px; COLOR: #7D431B; FONT-FAMILY: verdana, arial, helvetica, sans-serif; TEXT-DECORATION: none
}
A:hover {
	FONT-SIZE: 10px; COLOR: #f3960b; FONT-FAMILY: verdana, arial, helvetica, sans-serif; TEXT-DECORATION: underline
}
PRE {
	FONT-SIZE: 11px
}
FONT {
	FONT-SIZE: 10px; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
FONT.med {
	FONT-SIZE: 10px; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
FONT.index {
	FONT-SIZE: 10px; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
FONT.small {
	FONT-SIZE: 9px; FONT-FAMILY: arial
}
FONT.big {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
FONT.big2 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
FONT.red {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #ff0000; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
FONT.bigred {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ff0000; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
FONT.white {
	FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
H1 {
	FONT-SIZE: 10px; FONT-FAMILY: verdana, arial, helvetica, sans-serif; TEXT-DECORATION: none
}
H2 {
	FONT-SIZE: 11px; FONT-FAMILY: verdana, arial, helvetica, sans-serif; TEXT-DECORATION: none
}
H3 {
	FONT-SIZE: 12px; FONT-FAMILY: verdana, arial, helvetica, sans-serif; TEXT-DECORATION: none;color:#02087C;
}
H4 {
	FONT-SIZE: 13px; FONT-FAMILY: verdana, arial, helvetica, sans-serif; TEXT-DECORATION: none
}
FORM {
	FONT-SIZE: 10px; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
TABLE {
	FONT-SIZE: 10px; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
TR {
	FONT-SIZE: 10px; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
TD {
	FONT-SIZE: 11px; FONT-FAMILY: verdana, arial, helvetica, sans-serif;color:#02087C;
}
U {
	FONT-SIZE: 10px; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
B {
	FONT-SIZE: 10px; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
STRONG {
	FONT-SIZE: 10px; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.bodyblack {
	FONT-SIZE: 10px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.index1 {
	FONT-SIZE: 10px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #b7cbcf
}
.index2 {
	FONT-SIZE: 10px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #e6e6e6
}
.indexbold {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.header {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.bodyblue {
	FONT-SIZE: 10px; COLOR: #003399; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.bodyblackTB {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 10px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.bodyblueTB {
	FONT-SIZE: 10px; COLOR: #003399; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.headerTB {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 11px; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
SELECT {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; FONT-SIZE: 11px; BACKGROUND: #ffffff; BORDER-LEFT: #999999 1px solid; COLOR: #000000; LINE-HEIGHT: normal; BORDER-BOTTOM: #999999 1px solid; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-VARIANT: normal; TEXT-DECORATION: none
}
OPTION {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; FONT-SIZE: 11px; BACKGROUND: #ffffff; BORDER-LEFT: #999999 1px solid; COLOR: #000000; LINE-HEIGHT: normal; BORDER-BOTTOM: #999999 1px solid; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-VARIANT: normal; TEXT-DECORATION: none
}
TEXTAREA {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; FONT-SIZE: 11px; BACKGROUND: #ffffff; BORDER-LEFT: #999999 1px solid; COLOR: #000000; LINE-HEIGHT: normal; BORDER-BOTTOM: #999999 1px solid; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-VARIANT: normal; TEXT-DECORATION: none
}
INPUT {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; FONT-SIZE: 11px; BACKGROUND: #ffffff; BORDER-LEFT: #999999 1px solid; COLOR: #000000; LINE-HEIGHT: normal; BORDER-BOTTOM: #999999 1px solid; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-VARIANT: normal; TEXT-DECORATION: none
}

.head {padding-left:3px;padding-right:3px;FONT-WEIGHT: bold; FONT-SIZE: 10px; FONT-FAMILY: Verdana, Arial, Helvetic;}

.result {
	padding-left:3px;padding-right:5px;FONT-SIZE: 10px; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}

.error {FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #FF0000; FONT-STYLE: normal; FONT-FAMILY: Verdana;}
.input{font-family:Arial,Helvetica,verdana;font-size:10px;font-weight:bold;color:#000000;height:18px;border: solid 1px #3C3C3C;}
.formheader{padding-left:0px;padding-right:0px;font-family:verdana,Arial,Helvetica;font-size:11px;font-weight:bold;color:#02087C}

.form{padding-left:0px;padding-right:0px;font-family:verdana,Arial,Helvetica;font-size:10px;font-weight:normal;color:#02087C}
